.history-section {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: #ff0000;
  position: relative;
}

.history-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: calc(100% - 220px);
}

.history-container .text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5% 10% 0 10%;
  margin-bottom: 50px;
}

.history-container .text-container p {
  font-size: 16px;
  color: #fff;
  line-height: 2em;
  text-align: center;
}

.history-container .stripe-container {
  background: #fff;
}

.history-container .stripe-container .responsive {
  float: left;
  width: 20%;
}

.history-container .stripe-container .responsive .gallery img {
  width: 100%;
  height: auto;
}

@media only screen and (min-height: 750px) {
  .stripe-container {
    position: absolute;
    bottom: 0;
  }

  .history-container .text-container {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .history-section {
    min-height: 100%;
  }

  .history-container {
    height: calc(100% - 150px);
  }

  .history-container .text-container {
    margin-bottom: 50px;
    height: 100%;
  }
  
  .history-container .text-container p {
    line-height: 2.5em;
    padding: 50px 0;
  }

  .history-container .stripe-container {
    position: relative;
  }
}

@media only screen and (max-width: 375px) {
  .history-container .text-container p {
    text-align: left;
  }
}